<main class="grow md:w-8/12 md:mx-auto md:mt-10">
    <section class="bg-cyan-800 p-5 m-5 rounded shadow-lg flex flex-col gap-5 items-center">
        <div class="section-header text-white flex flex-col items-center gap-2 w-full">
            <span class="text-3xl font-bold">Profile</span>
            <span class="text-lg text-cyan-400">Journey to a new world begins</span>
        </div>
        
        <section class="section-content flex flex-col gap-5 items-center">
            <div class="account-status <%= user.status %>">
                Your account is currently in <%= user.status %> status.
            </div>
            <div class="profile-details flex flex-col gap-5 items-start">
                <div class="info-group flex">
                    <div class="info-heading">
                        Name
                    </div>
                    <div class="info-value">
                        <%= user.name %>
                    </div>
                </div>
                <div class="info-group flex">
                    <div class="info-heading">
                        Email
                    </div>
                    <div class="info-value">
                        <%= user.email %>
                    </div>
                </div>
                <div class="info-group flex">
                    <div class="info-heading">
                        Gender
                    </div>
                    <div class="info-value">
                        <%= user.gender %>
                    </div>
                </div>
                <div class="info-group flex">
                    <div class="info-heading">
                        Phone
                    </div>
                    <div class="info-value">
                        <%= user.phone %>
                    </div>
                </div>
                <div class="info-group self-center mt-5">
                    <a href="/users/profile/edit">
                        <button class="bg-cyan-600 px-4 py-2 rounded text-white hover:bg-slate-900">Edit Profile</button>
                    </a>
                </div>
            </div>
        </section>
    </section>
</main>